@import './focus_modal.scss';

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #131313;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

h1{
  margin: 0;
  color: white;
}

.header{
  padding: 20px;
  background-color: #232323;
  margin-bottom: 30px;
}

form, h1{padding: 10px}

input{
  border: 0;
border-radius: 5px;
padding: 5px;
margin-right: 10px;
}

button{
  background-color: #dd361c;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}  

.item-link {cursor: pointer}

.link{margin-bottom: 10px}

.item, p{color: white}

.item{padding-bottom: 30px}

img{width: 75%}

.item__keyword, .link{margin: 5px}

p, h2{
  margin: 15px;
  line-height: 2rem;
}

.item__date-created{color: #00a6d2}

@media(min-width: 1250px){

  form{
    text-align: right;
    margin-top:-70px;
  }

  .link{
    margin-top:15px;
    padding: 10px;;
  }

  .item{margin: 80px 15rem 0 15rem}

  h1{font-size: 45px}

  h2{
    font-size: 35px;
    line-height: 3rem
  }

  p{font-size: 25px}

  img{width: 40%}

  button, input{padding:13px}

  .item__description{margin: 30px}
}